{#
/**
 * @file
 *
 * Default template for Dicom visualization field
 *
 * Available variables:
 * - file: dcm file object.
 * - full_url: dcm file full url.
 *
 * @ingroup themeable
 */
 #}
<div class="wadoURL" data-id="{{ file.id }}" data-url="{{ full_url }}">
	<div style="width:100%;height:50em;position:relative;color: {{ dicom_tag_color }};display:inline-block;">
		<div id="dicomImage-{{ file.id }}"
		style="width:100%;height:100%; position:absolute"></div>
	</div>
</div>
